<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Status</th>
    <th>Actions</th>
  </tr>
  </thead>
  <% @responses.each do |response| %>
    <tr>
      <th><%= response.name %></th>
      <th><%= response.status %></th>
      <% if response.status == 'Pending' %>
        <th><%= link_to 'Accept', accept_friend_request_path(response), method: :post %></th>
        <th><%= link_to 'Reject', reject_friend_request_path(response), method: :post %></th>
      <% end %>
    </tr>
  <% end %>
</table>
