<section class="user-section">
  <div class="user-header">
    <h2><%= "Name: #{@user.name}" %></h2>

    <% if current_user.id == @user.id # Logged in user is the same one that is in the view %>
    <% elsif @is_friend %>
      <h3> is your friend </h3>
    <% elsif @request_sent %>
      <h3> Friend request sent </h3>
    <% elsif @request_received && @request_received.status == 'Pending' %>
      <h3> Is waiting for your response </h3>
    <% elsif @request_received && @request_received.status == 'Rejected' %>
      <h3>Friend request rejected</h3>
    <% else %>
      <%= button_to 'Send friend request', { :controller => "users", :action => "send_friend_request", :user_id => @user.id , :method=>:post }  %>
  <% end %>
  </div>

  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>
