<section class="user-section">
  <div class="user-header">
    <h2><%= "Name: #{@user.name}" %></h2>

    <% if @is_friend %>
      <h3> is your friend </h3>
    <% elsif @request_sent %>
      <h3> Friend request sent </h3>
    <% else %>
      <%= link_to 'Send friend request', send_friend_request_path(@user), method: :post %>
    <% end %>
  </div>

  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>
